.container {
  max-width: var(--site-width);
  margin:0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 56px;
  height: 100%;
}

.footer {
  height: 56px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: 10000;
  margin-top: -56px;
}

.wrapperHeight {
  height: 100%;
}

.wrapperHeight2 {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
