
.paper {
  padding: 5px 0 10px 0;
  margin-bottom: 20px;
}

.text {
  text-align: center;
};

p {
  line-height: 20px;
  width: 100%;
  height: 60px;
  overflow:hidden
}

.divider{
  padding-top:75;
}
