.wrapper{
  margin-top: 20px;
}

.text{
  text-align: center;
  color: white;
}

.label {
  color: white !important;
}

.imgcontainer{
  width: 100px;
  height: 100px;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
