/*------------------------------------------------------------------
[Table of contents]
1.  css reset
  1.1 HTML5 display-role reset for older browsers
  1.2 grid.css
2.  header
3.  above-fold
4.  about-main
5.  features-main
6.  work-main
7.  benefits-main
8.  send-block-main
9.  client-block-main
10. screenshot-main
11. count-block-main
12. team-block-main
13. downlod-block-main
14. contact-form-main
15. footer
16. media css
-------------------------------------------------------------------*/

@import url(/static/webkit.css);
@import url(/static/font-awesome.css);
.transition {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.delay {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s ;
}
.no-delay {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s ;
}
/*font icon*/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ic_play:before {
  content: "\e90e";
}

.icon-ic_scroll .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-ic_scroll .path2:before {
  content: "\e901";
  margin-left: -1.5029296875em;
  color: rgb(255, 253, 253);
}
.icon-ic_scroll .path3:before {
  content: "\e902";
  margin-left: -1.5029296875em;
  color: rgb(255, 255, 255);
}
.icon-ic_download:before {
  content: "\e903";
}
.icon-ic_android:before {
  content: "\e904";
}
.icon-ic_apple:before {
  content: "\e905";
}
.icon-ic_bag:before {
  content: "\e906";
}
.icon-ic_customize:before {
  content: "\e907";
}
.icon-ic_design:before {
  content: "\e908";
}
.icon-ic_flat_design:before {
  content: "\e909";
}
.icon-ic_hammer:before {
  content: "\e90a";
}
.icon-ic_laptop:before {
  content: "\e90b";
}
.icon-ic_market:before {
  content: "\e90c";
}
.icon-ic_photos:before {
  content: "\e90d";
}
.icon-ic_play_big:before {
  content: "\e90f";
}
.icon-ic_play_store:before {
  content: "\e910";
}
.icon-ic_play_store_hover:before {
  content: "\e911";
}
.icon-ic_retina:before {
  content: "\e912";
}
.icon-ic_scroll2:before {
  content: "\e913";
}
.icon-ic_send_small:before {
  content: "\e914";
}
.icon-ic_setting:before {
  content: "\e915";
}
.icon-ic_shield:before {
  content: "\e916";
}
.icon-ic_speed:before {
  content: "\e917";
}
.icon-ic_store_hover:before {
  content: "\e918";
}
.icon-ic_support:before {
  content: "\e919";
}
.icon-ic_use:before {
  content: "\e91a";
}
.icon-ic_windows:before {
  content: "\e91b";
}
.icon-iPhone:before {
  content: "\e91c";
}
.icon-title_logo {
  font-size: 48px;
}
.icon-title_logo .path1:before {
  content: "\e91e";
  color: rgb(255, 255, 255);
}
.icon-title_logo .path2:before {
  content: "\e91f";
  margin-left: -2.7783203125em;
  color: rgb(225, 66, 64);
}
/*1. css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}
/* 1.1 HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1.big {
  font-size: 70px;
}
h1.small {
  font-size: 50px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
}
nav > ul, nav > ol {
  list-style-type: disc;
  padding-left: 20px;
}
nav > ul li a, nav > ol li a, nav > ul li, nav > ol li {
  text-decoration: none;
  color: #162331;
  font-size: 14px;
  line-height: 26px;
}
nav > ul li a:hover, nav > ol li a:hover {
  color: #e14240;
}
sup, sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
    font-size: 14px;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
ins {
    background: #ffe7e7;
    text-decoration: none;
}
p a {
      color: #e14240;
}
p a:hover {
  text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
th, td {
    padding: 8px;
    font-size: 14px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
.custom_li ul li {
    font-family: "Open Sans",sans-serif;
    position: relative;
    padding-left: 35px;
    color: #162331;
    font-size: 14px;
    line-height: 26px;
}
.custom_li ul li .ficon {
    position: absolute;
    left: 0px;
    top: 8px;
    width: 30px;
    text-align: center;
}
.e_btn {
    display: inline-block;
    text-decoration: none;
    padding: 20px 0;
    border: 2px solid #e14240;
    border-radius: 14px;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 18px;
    width: 160px;
    text-align: center;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    color: #e14240;
    background-color: transparent;
}
.e_btn:hover {
    background-color: red;
}
.e_btn:hover {
    background-color: #e14240;
    color: #fff;
}
.e_btn.blue {
    border-color: #6788aa;
    color: #6788aa;
}
.e_btn.blue:hover {
    background-color: #6788aa;
    color: #fff;
}
.e_btn.blue {
    border-color: #6788aa;
    color: #6788aa;
}

.e_btn.blue:hover {
    background-color: #6788aa;
    color: #fff;
}
.e_btn.send-btn {
    background-color: #e14240;
    border: 2px solid #e14240;
    box-sizing: border-box;
    height: 58px;
    padding: 15px 30px 15px 60px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    position: relative;
    width: auto;
}
.e_btn.send-btn .ficon {
    font-size: 37px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.e_btn.send-btn:hover {
    background-color: transparent;
    border-color: #e14240;
    color: #e14240;
}
.e_btn.blue {
    border-color: #6788aa;
    color: #6788aa;
}
.e_btn.blue:hover {
    background-color: #6788aa;
    color: #fff;
}
.e_btn.blue {
    border-color: #6788aa;
    color: #6788aa;
}

.e_btn.blue:hover {
    background-color: #6788aa;
    color: #fff;
}
input,
button,
select,
textarea {
  outline: none;
}
::-webkit-input-placeholder {
  color: #b1b1b1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #b1b1b1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #b1b1b1;
}
:-ms-input-placeholder {
  color: #b1b1b1;
}
a {
  color: white;
  outline: none;
}
/* css reset */
.container {
  display: inline-block;
  width: 100%;
  padding: 94px 0 120px 0;
  vertical-align: top;
  background: #162331;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear {
  clear: both;
}
.pr {
  position: relative;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.mar-l-55 {
  margin-left: 55px;
}
.parallax {
  background-attachment: fixed !important;
  background-size: cover !important;
}
/* 1.2 grid.css */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: inline-block;
  float: left;
  margin-right: 2.56410256%;
}
.row > div:last-child {
  margin-right: 0 !important;
}
/* col css Note : Don't add or update any css in this block */
.wrapper {
  width: 1170px;
  margin: 0 auto;
  max-width: 98%;
}
.row {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
.col-1 {
  width: 5.98290598%;
}
.col-2 {
  width: 14.52991453%;
}
.col-3 {
  width: 23.07692308%;
}
.col-4 {
  width: 31.62393162%;
}
.col-5 {
  width: 40.17094017%;
}
.col-6 {
  width: 48.71794872%;
}
.col-7 {
  width: 57.26495726%;
}
.col-8 {
  width: 65.81196581%;
}
.col-9 {
  width: 74.35897436%;
}
.col-10 {
  width: 82.90598291%;
}
.col-11 {
  width: 91.45299145%;
}
.col-12 {
  width: 100%;
}
.col-50 {
  width: 50%;
}
@media screen and (max-width: 1169px) {
  .ld-col-1 {
    width: 5.98290598%;
  }
  .ld-col-2 {
    width: 14.52991453%;
  }
  .ld-col-3 {
    width: 23.07692308%;
  }
  .ld-col-4 {
    width: 31.62393162%;
  }
  .ld-col-5 {
    width: 40.17094017%;
  }
  .ld-col-6 {
    width: 48.71794872%;
  }
  .ld-col-7 {
    width: 57.26495726%;
  }
  .ld-col-8 {
    width: 65.81196581%;
  }
  .ld-col-9 {
    width: 74.35897436%;
  }
  .ld-col-10 {
    width: 82.90598291%;
  }
  .ld-col-11 {
    width: 91.45299145%;
  }
  .ld-col-12 {
    width: 100%;
  }
  .ld-col-50 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .md-col-1 {
    width: 5.98290598%;
  }
  .md-col-2 {
    width: 14.52991453%;
  }
  .md-col-3 {
    width: 23.07692308%;
  }
  .md-col-4 {
    width: 31.62393162%;
  }
  .md-col-5 {
    width: 40.17094017%;
  }
  .md-col-6 {
    width: 48.71794872%;
  }
  .md-col-7 {
    width: 57.26495726%;
  }
  .md-col-8 {
    width: 65.81196581%;
  }
  .md-col-9 {
    width: 74.35897436%;
  }
  .md-col-10 {
    width: 82.90598291%;
  }
  .md-col-11 {
    width: 91.45299145%;
  }
  .md-col-12 {
    width: 100%;
    margin: 0 0 45px;
  }
  .md-col-50 {
    width: 50%;
    margin: 25px 0;
  }
}
@media screen and (max-width: 559px) {
  .sd-col-1 {
    width: 5.98290598%;
  }
  .sd-col-2 {
    width: 14.52991453%;
  }
  .sd-col-3 {
    width: 23.07692308%;
  }
  .sd-col-4 {
    width: 31.62393162%;
  }
  .sd-col-5 {
    width: 40.17094017%;
  }
  .sd-col-6 {
    width: 48.71794872%;
  }
  .sd-col-7 {
    width: 57.26495726%;
  }
  .sd-col-8 {
    width: 65.81196581%;
  }
  .sd-col-9 {
    width: 74.35897436%;
  }
  .sd-col-10 {
    width: 82.90598291%;
  }
  .sd-col-11 {
    width: 91.45299145%;
  }
  .sd-col-12 {
    width: 100%;
  }
  .sd-col-50 {
    width: 50%;
  }
}
/* col css Note : Don't add or update any css in this block */
/* grid.css */

/* 2. header */
#main-header {
  background: rgba(0, 9, 18, 0.7);
  position: fixed;
  top: -10px;
  left: 0;
  right: 0;
  z-index: 99999;
  padding-top: 10px;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all;
}
#main-header.darkHeader {
  background: rgba(0, 9, 18, 1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
#main-header.darkHeader .logo-main {
  padding: 10px 0;
}
#main-header.darkHeader nav {
  margin: 15px 0;
}
#main-header .container {
  padding: 0;
  background: none;
}
#main-header .row {
  margin: 0;
}
#main-header .logo-main {
  padding: 26px 0;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all;
}
#main-header .logo-main img {
  vertical-align: top; max-width: 144px; width: 100%;
}
#main-header .responsive-menu-btn {
  display: none;
}
#main-header nav {
  text-align: left;
  margin: 28px 0;
  display: inline-block;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all;
}
#main-header nav ul {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  list-style-type: none;
}
#main-header nav ul li {
  display: inline-block;
  float: left;
  position: relative;
}
#main-header nav ul > li:before {
  content: '';
  height: 28px;
  width: 100%;
  left: 0;
  bottom: -28px;
  position: absolute;
}
#main-header nav ul li > a {
  color: #D9DADC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 32px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
#main-header nav ul li:hover a,
#main-header nav ul li.active a {
  color: #e14240;
}
#main-header nav ul li.download {
  background: #e14240;
  color: #fff;
  border-radius: 8px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  border:  2px solid #e14240;
  box-sizing: border-box;
}
#main-header nav ul li.download a {
  color: #fff;
}
#main-header nav ul li.download:hover {
  background: none;
}
#main-header nav ul li.download:hover a {
  color: #e14240;
}
/* 3. above-fold */
.above-fold {
  display: inline-block;
  height: 768px;
  height: 100vh;
  min-height: 670px;
  background: url(/static/landing-main-img.jpg) center top;
  background-size: cover;
  padding: 0;
  overflow: hidden;
}
.above-fold .wrapper {
  height: 100%;
}
.above-fold .above-fold-text {
  position: absolute;
  bottom: 20%;
  left: 0;
  z-index: 11;
  color: #ffffff;
}
.above-fold .above-fold-text img {
  margin-bottom: 10px;
}
.above-fold .above-fold-text h1 {
  font-size: 50px;
  font-weight: 400;
  color: #f2f2f2;
  line-height: 55px;
  margin: 20px 0;
}
.above-fold .above-fold-text p {
  color: #b1b1b1;
  margin-bottom: 30px;
}
.above-fold .above-fold-text .btn-box a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 0;
  color: #fff;
  border: 2px solid;
  border-radius: 14px;
  margin: 0 10px 10px 0;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 18px;
  width: 160px;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.above-fold .above-fold-text .btn-box a.red {
  color: #e14240;
}
.above-fold .above-fold-text .btn-box a.red:hover {
  color: #fff;
  background-color: #e14240;
  border-color: #e14240;
}
.above-fold .above-fold-text .btn-box a.blue {
  color: #6788aa;
}
.above-fold .above-fold-text .btn-box a.blue:hover {
  color: #fff;
  background-color: #6788aa;
  border-color: #6788aa;
}
.above-fold .above-fold-text .btn-box span.icon-ic_play:before {
  color: #6788aa;
  margin-left: 5px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.above-fold .above-fold-text .btn-box a.blue:hover > span:before {
  color: #fff;
}
.above-fold .go-down {
  position: absolute;
  width: 40px;
  height: 30px;
  left: 50%;
  bottom: 5%;
  margin-left: -20px;
  background: url(/static/landing-down-icon.png) no-repeat center;
  opacity: 0.5;
  z-index: 11;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.above-fold .hand_bg {
  /*background-image: url(http://placehold.it/994x802);*/
  position: absolute;
  right: 0;
  bottom: 0px;
}
.above-fold .go-down:hover {
  opacity: 1;
}

/* 4. about-main */
.about-main .ficon{
  color: #e14240;
  font-size: 48px;
}
.title-block {
  text-align: center;
  margin-bottom: 30px;
}
.title-block.small {
  text-align: left;
}
.title-block.small .sep-line {
  margin: 0 0 30px 0;
}
.title-block.small p {
  max-width: 100%;
  margin-bottom: 50px;
}
.title-block h2 {
  font-size: 50px;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 15px;
  color: #fff;
}
.title-block .sub-title {
  display: block;
  margin-bottom: 30px;
  color: #b1b1b1;
}
.title-block .sep-line {
  display: block;
  width: 50px;
  height: 3px;
  margin: 0 auto 30px;
  background: #e14240;
}
.title-block p {
  color: #b1b1b1;
  max-width: 80%;
  margin: 0 auto;
}
.about-box h6 {
  margin: 15px 0;
  font-size: 24px;
  color: #e14240;
}
.about-box p {
  color: #b1b1b1;
  max-width: 70%;
  margin: 0 auto;
}
.about-main .title-block p {
  margin-bottom: 50px;
 }
/* 5. features-main */
.features-main {
  background: url(/static/landing-features-bg.jpg) no-repeat center;
}
.features-box .features-text {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}
.features-box .features-text span.ficon {
  float: right;
  width: 70px;
}
.features-box .features-text span.ficon:before {
  font-size: 60px;
  line-height: 80px;
  color: #e14240;
}
 .features-box .icon-ic_use:before {
  font-size: 45px !important;
  line-height: 65px !important;
 }
.features-box .features-text.text-left span.ficon {
  float: left;
}
.features-box .features-text .features-info {
  margin: 40px 0;
}
.features-box .features-text .features-info .info-text {
  display: inline-block;
  width: 70%;
  width: calc(100% - 110px);
  vertical-align: top;
  margin: 0 15px;
}
.features-box .features-text .features-info .info-text h6 {
  color: #e14240;
  font-size: 24px;
}
.features-box .features-text .features-info .info-text p {
  color: #b1b1b1;
}
.features-box .features-img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 35px;
}
.features-mob {
  background: url(../images/mobile-03.png) no-repeat top center;
  width: 328px;
  height: 690px;
  text-align: center;
  margin: 0 auto;
}
.features-mob img {
    margin-left: 4px;
    max-width: 278px;
    padding-top: 99px;
}
/* 6. work-main */
.work-main {
  background: url(../images/works-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.work-main h2 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.work-main:hover h2 {
  color: #e14240;
}
.work-main span.icon-ic_play_big {
  display: block;
  width: 134px;
  height: 134px;
  margin: 0 auto;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}
.work-main span.icon-ic_play_big:before {
  font-size: 134px;
  color: #e14240;
}
.work-main span:hover:before {
  color: #fff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}

/* 7. benefits-main */
.benefits-main {
  padding: 54px 0;
}

.benefits-main .benefits-img {
  float: none;
  vertical-align: middle;
}
.benefits-main .benefits-text {
  float: none;
  vertical-align: middle;
}
.benefits-main .benefits-text .sub-text > span.ficon {
  display: inline-block;
  float: left;
}
.benefits-main .benefits-text .sub-text > span.ficon:before {
  font-size: 37px;
  color: #e14240;
}
.benefits-main .benefits-text .sub-text h6 {
  font-size: 24px;
}
.benefits-main .benefits-text .sub-text p {
  color: #b1b1b1;
  margin-bottom: 30px;
}
.benefits-main .benefits-text .icon-text span img {
  float: none;
  margin: 5px 10px 0 0;
  vertical-align: top;
}
.benefits-main .icon-text ul {
  list-style: none;
}
.benefits-main .icon-text ul li {
  color: #b1b1b1;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  line-height: 2;
  position: relative;
  padding-left: 45px;
}
.benefits-main .icon-text ul li > .ficon {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 30px;
  text-align: center;
}
.benefits-main .icon-text ul li > .ficon:before {
  font-size: 20px;
  color: #e14240;
}

/* 8. send-block-main */
.send-block-main {
  background: url(/static/landing-send-block-bg.png) no-repeat center;
  position: relative;
}
.topClr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e14240;
    opacity: 0.9;
    z-index: 0;
}
.send-block-main .wrapper {
    z-index: 1;
    position: relative;
}
.send-block-main .text-left {
  margin: 0;
  display: inline-block;
  float: none;
  vertical-align: middle;
  text-align: left;
}
.send-block-main .text-left h2 {
  margin-bottom: 0;
}
.send-block-main .text-right {
  margin: 0;
  float: none;
  vertical-align: middle;
}
.send-block-main .text-right a {
  width: 200px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.send-block-main .text-right a:hover {
  border-color: #182837;
  background-color: #182837;
}
/* 9. client-block-main */
.client-block-main {
  background: url(/static/landing-client-slider-bg.jpg) no-repeat center;
  background-size: cover;
}
.client-slider li {
  text-align: center;
}
.client-slider li p {
  width: 70%;
  margin: 0 auto 40px;
  color: #b1b1b1;
}
.client-slider li .client-info img {
  display: block;
  margin: 0 auto 15px;
  border-radius:  50%;
}
.client-slider li .client-info strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e14240;
}
.client-slider li .client-info span {
  display: block;
  font-size: 16px;
  color: #fffefe;
}
/* 10. screenshot-main */
.screenshot-main {
  overflow: hidden;
}
.screen-slider {
  width: 100%;
  position: relative;
  display: block;
}
.screen-slider .owl-carousel {
  padding-top: 98px;
 }
.screen-slider .owl-carousel .owl-stage-outer {
  overflow: visible;
}
.mobile {
  position: absolute;
  width: 328px;
  margin: 0 auto;
  text-align: center;
  display: inline;
  left: 50%;
  margin-left: -166px;
  z-index: 99;
  overflow: visible;
  top: 0;
}
.mobile img.slider-device {
    width: 100%;
}
#demos .owl-carousel .item {
  height: 418px;
}
.loop.owl-carousel.owl-theme.owl-center.owl-loaded {
  padding-top: 85px;
}
.owl-controls {
  padding-top: 112px;
}

.screen-slider div.owl-item.active.center img {
  opacity: 1;
  transition: 0.2s all;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}
.screen-slider div.owl-item img {
  max-width: 100%;
  opacity: 0.5;
  display: block;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
}
/* 11. count-block-main */
.count-block-main {
  background: #e14240;
}
.count-block-main .ficon:before {
  color: #fff;
  font-size: 70px;
}
.count-block-main span.count {
  display: block;
  font-size: 43px;
  font-weight: 900;
  line-height: 1;
  margin: 15px 0 0;
}
.count-block-main em {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  font-style: normal;
}
.plan-box {
  display: inline-block;
  margin-top: 30px;
}
.plan-box .plan-box-main {
  width: 280px;
  display: inline-block;
  float: left;
  background: #02101d;
  padding: 40px;
  margin: 20px 0;
}
.plan-box .plan-box-main .plan-type {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}
.plan-box .plan-box-main .plan-price {
  font-size: 40px;
  margin-bottom: 10px;
  display: block;
  color: #e14240;
  font-weight: normal;
}
.plan-box .plan-box-main ul li {
  padding: 16px 0;
  border-top: 1px solid;
  border-color: #000 !important;
  color: #b1b1b1;
}
.plan-box .plan-box-main.center ul li {
  color: #f2f2f2;
}
.plan-box .plan-box-main ul li:last-child {
  border-bottom: 1px solid;
}
.plan-box .plan-box-main a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 163px;
  height: 56px;
  line-height: 56px;
  border: 2px solid #e14240;
  border-radius: 15px;
  color: #e14240;
  margin-top: 40px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.plan-box .plan-box-main a:hover {
  color: #fff;
  background-color: #e14240;
}
.plan-box .plan-box-main.center {
  background: #e14240;
  padding: 60px 40px;
  margin: 0;
}
.plan-box .plan-box-main.center .plan-price {
  color: #fff;
}
.plan-box .plan-box-main.center ul li {
  border-color: #d32825 !important;
}
.plan-box .plan-box-main.center a {
  color: #02101d;
  border-color: #02101d;
}
.plan-box .plan-box-main.center a:hover {
  color: #fff;
  background-color: #02101d;
  border-color: #02101d;
}
/* 12. team-block-main */
.team-block-main {
  background: url(/static/landing-team-slider-bg.jpg) no-repeat center;
  background-size: cover;
}
.team-slider-main {
  margin: 60px 0 0 0;
  width: 100%;
}
.team-slider-main li .team-photo {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  display: inline-block;
  border: 10px solid #e14240;
}
.team-slider-main li .team-photo:after,
.team-slider-main li .team-photo:before {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.team-slider-main li .team-photo:after {
  top: 0;
}
.team-slider-main li .team-photo:before {
  bottom: 0;
}
.team-slider-main li .team-photo:hover:after,
.team-slider-main li .team-photo:hover:before {
  height: 100%;
}
.team-slider-main li .team-photo .social-links {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 30px;
  left: 0;
  display: block;
  text-align: center;
  margin-top: -15px;
  z-index: 11;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.team-slider-main li .team-photo .social-links a {
  color: #fff;
  margin: 0 8px;
  font-size: 22px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.team-slider-main li .team-photo .social-links a:hover {
  color: #d32825;
}
.team-slider-main li .team-photo:hover .social-links {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}
.team-slider-main li img {
  margin: 0 auto;
  border-radius: 50%;
}
.team-slider-main li .name {
  color: #e14240;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}
.team-slider-main li .role {
  font-size: 16px;
  color: #fffefe;
  display: block;
  font-style: normal;
}
.container .bx-wrapper .bx-pager {
  bottom: -65px;
}
.container .bx-wrapper .bx-pager.bx-default-pager a {
  background: none !important;
  border: 2px solid #e14240;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  opacity: 0.5;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.container .bx-wrapper .bx-pager.bx-default-pager a:hover {
  opacity: 1;
}
.container .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e14240 !important;
  opacity: 1;
}
/* 13. downlod-block-main */
.downlod-block-main {
  background: url(/static/landing-download-bg-img.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
 .downlod-block-main .topClr { background-color: #e14240; opacity: 0.8; }
 .downlod-block-main .wrapper { position: relative; z-index: 1; }
.downlod-block-main .title-block .sep-line {
  background: #fff;
}
.downlod-block-main .title-block .sub-title {
  color: #fff;
}
.downlod-btn {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 90px;
}
.downlod-btn a {
  display: inline-block;
  margin: 0 9px;
  overflow: hidden;
  vertical-align: top;
  margin-bottom: 15px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 1;
}
.downlod-btn a:hover {
  opacity: 0.65;
}
.subscribe-form {
  display: inline-block;
  margin-top: 15px;
}
.subscribe-form input {
  background: #000;
  border: none;
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
}
.subscribe-form input.email {
  width: 480px;
  padding: 10px 25px;
  height: 46px;
  border-radius: 10px 0 0 10px;
  color: #b1b1b1;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}
.subscribe-form input.submit-btn {
  padding: 10px 25px;
  height: 46px;
  border-radius: 0 10px 10px 0;
  box-sizing: content-box;
  background: url(/static/landing-send-icon.png) no-repeat center #162331;
  text-indent: -999px;
  width: 20px;
  float: left;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.subscribe-form input.submit-btn:hover {
  background: url(/static/landing-send-icon-hover.png) no-repeat center #162331;
}
/* 14. contact-form-main */
.contact-form-main {
  text-align: center;
}
.contact-form-main .contact-form {
  width: 920px;
  max-width: 100%;
  display: inline-block;
  margin-top: 30px;
}
.contact-form-main .contact-form .form-row {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  margin-bottom: 25px;
}
.contact-form-main .contact-form .form-row .col-5 {
  margin: 0;
  width: 48.5%;
  float: left;
}
.contact-form-main .contact-form .form-row .col-5:last-child {
  float: right;
}
.contact-form-main .contact-form .form-row input[type="text"] {
  background: none;
  border: 2px solid #d6d6d6;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 58px;
  padding: 15px 30px;
  border-radius: 10px;
  color: #b1b1b1;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.contact-form-main .contact-form .form-row textarea {
  background: none;
  border: 2px solid #d6d6d6;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 58px;
  padding: 20px 30px;
  border-radius: 10px;
  color: #b1b1b1;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  height: 131px;
}
.contact-form-main .contact-form .form-row ::-webkit-input-placeholder {
  color: #b1b1b1;
}
.contact-form-main .contact-form .form-row :-moz-placeholder {
  /* Firefox 18- */
  color: #b1b1b1;
}
.contact-form-main .contact-form .form-row ::-moz-placeholder {
  /* Firefox 19+ */
  color: #b1b1b1;
}
.contact-form-main .contact-form .form-row :-ms-input-placeholder {
  color: #b1b1b1;
}
.contact-form-main .contact-form .form-row button.send-btn {
  /*background: url(../images/send-icon-outline.png) no-repeat 15px center;*/
  background-color: #e14240;
  border: 2px solid #e14240;
  box-sizing: border-box;
  height: 58px;
  padding: 15px 30px 15px 60px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
}
.contact-form-main .contact-form .form-row button.send-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #e14240;
  color: #e14240;
  /*background-image: url(../images/send-icon-outline-hover.png);*/
}
.contact-form-main .contact-form .form-row button.send-btn span {
    font-size: 37px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.contact-dark .contact-form-main .contact-form .form-row input[type="text"], .contact-dark .contact-form-main .contact-form .form-row textarea { border: 2px solid #e14240; }
/* 15. footer */
#main-footer {
  background: #02101d;
  padding-bottom: 94px !important;
}
#main-footer span a {
  color: #e14240;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
#main-footer span a:hover {
  color: #fff;
}
ul.social-link {
  margin: 40px 0;
}
ul.social-link li {
  display: inline-block;
  margin: 0 25px;
}
ul.social-link li a {
  color: #fff;
  font-size: 28px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
ul.social-link li a:hover {
  color: #e14240;
}
#main-footer .wrapper > img {
    width: 100%;
    max-width: 144px;
}
/* 16. media css */
@media screen and (max-width: 1669px) {
  .above-fold .hand_bg { right: -10%; max-width: 63%;}
}
@media screen and (max-width: 1369px) {
  .above-fold .hand_bg { right: -20%; max-width: 66%;}
}
@media screen and (max-width: 1169px) {
  .wrapper {
    max-width: 100%;
    margin: 0 20px;
    width: auto;
  }
  .container {
    padding: 50px 0 60px 0;
  }
  img {
    max-width: 100%;
  }
  #main-header .logo-main {
    padding: 15px 0 !important;
    width: 150px;
  }
  #main-header .col-10 {
    float: right;
    width: auto;
  }
  #main-header nav {
    display: none;
  }
  #main-header nav#main-menu {
    display: block;
    position: absolute;
    right: -265px;
    margin: 0;
    padding: 0;
    background: #e14240;
    width: 260px;
    height: calc(100vh - 76px);
  }
  #main-header nav ul {
    display: block;
  }
  #main-header nav ul li {
    display: block;
    float: none;
    padding: 5px 20px;
    border-bottom: 1px solid #D80906;
  }
  #main-header nav ul li.download {
    background: none;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  #main-header nav ul li a {
    font-size: 20px;
    color: #fff;
  }
  #main-header nav ul li a:hover {
    color: #fff;
  }
  #main-header .responsive-menu-btn {
    display: inline-block;
    margin: 13px 0;
    vertical-align: top;
  }
  #main-header .responsive-menu-btn i {
    display: block;
    float: none;
    width: 35px;
    height: auto;
    top: 0;
    right: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 15px auto;
  }
  #main-header .responsive-menu-btn i b {
    display: block;
    height: 2px;
    background: #e14240;
    width: 35px;
    margin: 7px auto;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    position: relative;
    top: 0;
  }
  #main-header .responsive-menu-btn i b:nth-child(2) {
    margin: 6px auto;
  }
  #main-header .responsive-menu-btn span {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    display: none;
    z-index: -1;
  }
  #main-header.open-nav .responsive-menu-btn b:nth-child(1) {
    transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    top: 9px;
  }
  #main-header.open-nav .responsive-menu-btn b:nth-child(3) {
    transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    top: -9px;
  }
  #main-header.open-nav .responsive-menu-btn b:nth-child(2) {
    opacity: 0;
  }
  #main-header.open-nav .responsive-menu-btnspan {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 39, 58, 0.5);
    left: 0;
    top: 0;
  }
  #main-header.open-nav nav#main-menu {
    right: 0;
  }
  #main-header.open-nav .responsive-menu-btn span {
    display: block;
  }
  #main-header nav ul li:hover a,
  #main-header nav ul li.active a {
    color: #fff !important;
  }
  .above-fold .hand_bg {
    top: inherit;
    bottom: 0px;
  }
  .features-box .features-text {
    width: 29%;
  }
  .screenshot-main {
    padding-bottom: 142px;
  }
  .plan-box {
    width: 100%;
  }
  .plan-box .plan-box-main {
    box-sizing: border-box;
    width: 33.333%;
  }
  #main-footer,
  .screenshot-main {
    padding-bottom: 60px !important;
  }
  .send-block-main .ld-col-3 {
    width: 25%;
  }
}
@media screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll !important;
  }
  .downlod-btn {
    margin-bottom: 60px;
  }
  .downlod-btn > a:last-child {
    margin-bottom: 0px;
  }
  .send-block-main .wrapper > .ld-col-12 {
    margin-bottom: 30px;
    text-align: center;
  }
  .send-block-main .ld-col-12:last-child {
    margin-bottom: 0;
  }
  .above-fold .fadeScroll,
  .above-fold .go-down {
    display: none;
  }
  .above-fold {
    height: inherit;
    min-height: inherit;
  }
  .above-fold .above-fold-text {
    position: inherit;
    bottom: inherit;
    left: inherit;
    z-index: 11;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 76px;
  }
  .features-box .features-text .features-info,
  .features-box .features-text.text-left .features-info:last-child {
    margin-bottom: 0px;
  }
  .features-box .features-text.text-right .features-info:first-child {
    margin-top: 0px;
  }
  .features-box .features-text .features-info:last-child {
    margin-bottom: 30px;
  }
  .features-box .features-text {
    width: 100%;
  }
  .features-box .features-text .features-info {
    display: inline-block;
    text-align: left;
    width: 70%;
  }
  .features-box .features-text.text-right {
    text-align: center;
  }
  .features-box .features-text.text-right span {
    float: left;
  }
  .features-box .features-text.text-left {
    text-align: center;
  }
  .features-box .features-img {
    width: 100%;
    margin: 15px 0;
  }
}
@media screen and (max-width: 768px) {
  #main-header.open-nav nav#main-menu {
    overflow: auto;
  }
  .above-fold .above-fold-text h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .above-fold .go-down {
    bottom: -40px;
  }
  .about-main .md-col-12 {
    margin-top: 30px;
  }
  .about-main .md-col-12:last-child {
    margin-bottom: 0px;
  }
  .benefits-main .benefits-img {
    text-align: center;
    margin-bottom: 0;
  }
  .benefits-main .benefits-text {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .plan-box .plan-box-main {
    width: 100%;
    max-width: 300px;
    float: none;
    display: block;
    margin: 0 auto !important;
  }
  .count-block-main .md-col-6 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .count-block-main .md-col-6:nth-child(even) {
    margin-right: 0px;
  }
  .subscribe-form {
    /*width: 390px;*/
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .subscribe-form input.email {
    /*width: 300px;*/
    width: 83%;
    padding: 10px 20px;
    font-size: 16px;
  }
  .subscribe-form input.submit-btn {
    width: 50px;
    padding: 10px 0;
    background-size: 50%;
  }
  .contact-form-main .contact-form .form-row .col-5 {
    width: 100%;
    margin-bottom: 25px;
  }
  .contact-form-main .contact-form .form-row .col-5:last-child {
    margin-bottom: 0;
  }
  .downlod-btn img {
    width: 230px;
  }
  .send-block-main .text-left h5 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  .send-block-main .text-right,
  .benefits-main .title-block.small {
    text-align: center;
  }
  .benefits-main .title-block.small .sep-line {
    margin: 0 auto 30px;
  }
  .benefits-main .sub-text {
    margin: 0 auto;
  }
  .work-main h2 {
    font-size: 32px;
  }
  .title-block h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .plan-box .plan-box-main {
    margin-bottom: 30px !important;
  }
  .plan-box .plan-box-main:last-child {
    margin-bottom: 0px !important;
  }
  .features-box .features-text span.ficon {
    float: left;
  }
}
@media screen and (max-width: 559px) {
  * { -webkit-text-size-adjust: none;}
  .title-block h2 {
    font-size: 34px;
    line-height: 40px;
  }
  .above-fold .above-fold-text h1 br {
    display: none;
  }
  ul.social-link li {
    margin: 0 10px;
  }
  ul.social-link li a {
    font-size: 18px;
  }
  .team-slider-main li .team-photo {
    border: 5px solid #F74F4C;
  }
  .screenshot-main .screenshots-slider-main {
    width: 191px;
    padding: 72px 20px 61px 22px;
    height: 400px;
  }
  .screenshot-main .screenshots-slider-main .bx-wrapper .bx-viewport li {
    max-width: 230px;
    margin: 0 10px;
  }
  .screenshot-main .screenshots-slider-main .bx-wrapper .bx-viewport {
    margin: 0 0 0 -12px;
  }
  .screenshot-main .screenshots-slider-main img.slider-device {
    width: 229px;
  }
  .count-block-main em {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }
  .subscribe-form {
    /*width: 240px;*/
    width: 100%;
  }
  .subscribe-form input.email {
    /*width: 150px;*/
    width: 83%;
    padding: 0 20px;
    font-size: 12px;
  }
  .subscribe-form input.submit-btn {
    padding: 0;
  }
  ul.social-link li {
    margin: 0 12px;
  }
  .above-fold .above-fold-text h1 {
    font-size: 25px;
    line-height: 32px;
  }
  .above-fold .above-fold-text {
    width: 100%;
  }
  .benefits-main .benefits-img {
    margin: 0;
    padding-bottom: 0;
  }
  .screenshot-main .screenshots-slider-main .bx-wrapper .bx-next {
    right: 20px;
  }
  .screenshot-main .screenshots-slider-main .bx-wrapper .bx-prev {
    left: 20px;
  }
  .team-slider-main li .name,
  .team-slider-main li .role {
    font-size: 14px;
  }
  .features-box .features-text .features-info {
     width: 100%;
     text-align: center;
  }
  .features-box .features-text span.ficon {
    float: none !important;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .features-box .features-text .features-info .info-text {
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }
  .team-slider-main .bx-wrapper .bx-pager { display: none; }
  /*.mobile {
    display: none;
  }
  .owl-item.active.center {
    box-shadow: none;
  }
  .owl-carousel .owl-item img {
    width: 65% !important;
    margin: 0 auto;
  }
  .screen-slider .owl-carousel {
    padding-top: 0;
  }
  .owl-controls {
    padding-top: 12px;
  }*/
}
@media screen and (max-width: 355px) {
  .features-mob { width: 100%; background-size: 100% 100%; height: 589px; }
  .features-mob img { margin-left: 2px; max-width: 263px;padding-top: 83px; max-width: 85%; }
}


div#site-main {
    overflow: hidden;
}

.work-main #work-video{
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  width: 100%;
}
.work-main .wrapper {
    position: relative;
}


.wrapper .title-block ul li {
    list-style: initial;
}
