.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56dp;
  z-index: 10000;
}

.icon {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

.bottom-nav-item {
  min-width: 56px !important;
}
