.footer {
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  text-align: center;
  font-size: 24px;
}

.prueba {
  width: 40px;
}

.bottomNavItem {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}
